{% extends 'PtuitBundle::plantilla.html.twig' %}

{% block Ptuits %}

<div id="cajaMensaje">
    <form action="#" method="post">
        <fieldset >
            <legend>Escribe tu ptuit</legend>

            <textarea class="txtMen" name="mensaje" title="mensaje" cols="57" rows="2" ></textarea>
            <div class="error" id="errorMensaje"></div>
            <div class="contador" ></div>
            <input id="botonTxt" title="enviar" name="ptuit" value="ptuit.." type="button"/>

        </fieldset>
    </form>
</div>
</br>

<h1>Cronologia</h1>
<div id="caja_men" >
    <ul class="statuses">

    {% for entity in entities %}
        <li>
            <a href="#"><img class="avatar" src="{{ asset('bundles/ptuit/imagenes/ptuit.png') }}"  alt="avatar" /></a>
            <div class="tweetTxt"><strong><a href="#"> {{ entity.nombreusuario}}</a>: </strong>
                        {{ entity.texto }}
                    <div class="date">{{ entity.creado|date('d-m-Y') }}</div>
                    <div class="flotarDer"> <a href="{{ path('ptuit_show', { 'id': entity.id }) }}">show</a></div>
                </div>
                
                <div class="clear"></div>
                
            </li>
    {% endfor %}
        </ul>

        <ul>
            <li>
                <a href="{{ path('ptuit_new') }}">
                    Create a new entry
                </a>
            </li>
        </ul>
    </div>

{% endblock %}